In [1]:
a=[1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

In [3]:
for i in range(5):
    print(i,end="")
    print()

0
1
2
3
4

In [4]:
for i in range(6):
    print(i,end="")
    print()

0
1
2
3
4
5

In [5]:
for i in range(5,20):
    print(i,end="")

5678910111213141516171819

In [6]:
for i in range(0,10,2):
    print(i,end="")

02468

In [7]:
for i in range(0,10,2):
    print(i,end="")
    print()

0
2
4
6
8

In [8]:
l=["geeks","for","geeks"]
for i in l:
    print(i)

geeks
for
geeks

In [11]:
d={'xyz':123,'abc':345}
for i in d:
    print(i,d[i])

xyz 123
abc 345

In [12]:
for i in range(10):
    print(i)
    if i==2:
        break

0
1
2

In [1]:
s='geeksforgeeks'
for letter in s:
    print(letter)
    if letter=='e'or letter=='s':
        break
print('Out of the for loop')
print()
i=0
while True:
    print(s[i])
    if s[i]=='e' or s[i]=='s':
        break
    i+=1
print("Out of while loop")

g
e
Out of the for loop

g
e
Out of while loop

In [6]:
for var in "Geeksforgeeks":
    if var=='e':
        #print("continue")
        continue
    print(var)

G
k
s
f
o
r
g
k
s

In [7]:
for var in "Geeksforgeeks":
    if var=='e':
        print("continue")
        continue
    print(var)

G
continue
continue
k
s
f
o
r
g
continue
continue
k
s

In [11]:
for i in range(1,11):
    if i==6 or i==8:
        continue
    else:
        print(i,end="")

123457910

In [12]:
x=[1,2]
y=[4,5]
for i in x:
    for j in y:
        print(i,j)

1 4
1 5
2 4
2 5

In [15]:
print("Welcome",end=" ")
print("to Gfg")

Welcome to Gfg

In [16]:
print("06","01","2024",sep="-")

06-01-2024

In [18]:
for i in range(2,4):
    for j in range(1,11):
        print(i,"*",j,"=",i*j)
print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [9]:
from calendar import*
year=int(input('Enter year:'))
print(calendar(year,2,1,8,3))

Enter year:2024
                                    2024

      January                     February                     March
Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                  1  2  3  4                     1  2  3
 8  9 10 11 12 13 14         5  6  7  8  9 10 11         4  5  6  7  8  9 10
15 16 17 18 19 20 21        12 13 14 15 16 17 18        11 12 13 14 15 16 17
22 23 24 25 26 27 28        19 20 21 22 23 24 25        18 19 20 21 22 23 24
29 30 31                    26 27 28 29                 25 26 27 28 29 30 31

       April                        May                         June
Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7               1  2  3  4  5                        1  2
 8  9 10 11 12 13 14         6  7  8  9 10 11 12         3  4  5  6  7  8  9
15 16 17 18 19 20 21        13 14 15 16 17 18 19        10 11 12 13 14 15 16
22 23 24 25 26 27 28        20 21 22 23 24 25 26        17 18 19 20 21 22 23
29 30                       27 28 29 30 31              24 25 26 27 28 29 30

        July                       August                    September
Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                  1  2  3  4                           1
 8  9 10 11 12 13 14         5  6  7  8  9 10 11         2  3  4  5  6  7  8
15 16 17 18 19 20 21        12 13 14 15 16 17 18         9 10 11 12 13 14 15
22 23 24 25 26 27 28        19 20 21 22 23 24 25        16 17 18 19 20 21 22
29 30 31                    26 27 28 29 30 31           23 24 25 26 27 28 29
                                                        30

      October                     November                    December
Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                     1  2  3                           1
 7  8  9 10 11 12 13         4  5  6  7  8  9 10         2  3  4  5  6  7  8
14 15 16 17 18 19 20        11 12 13 14 15 16 17         9 10 11 12 13 14 15
21 22 23 24 25 26 27        18 19 20 21 22 23 24        16 17 18 19 20 21 22
28 29 30 31                 25 26 27 28 29 30           23 24 25 26 27 28 29
                                                        30 31

In [12]:
list1=["I am","You are"]
list2=["healthy","fine","geek"]
list2_size=len(list2)
for item in list1:
    print("Start Outer for loop")
    i=0
    while(i<list2_size):
        print(item,list2[i])
        i=i+1
    print("End while loop")
print("End for loop")

Start Outer for loop
I am healthy
I am fine
I am geek
End while loop
Start Outer for loop
You are healthy
You are fine
You are geek
End while loop
End for loop

In [16]:
def fun():
    print("Welcome to Gfg")
fun()

Welcome to Gfg

In [19]:
def is_prime(n):
    if n in [2,3]:
        return True
    if (n==1) or (n%2==0):
        return False
    r=3
    while (r*r<=n):
        if n%r==0:
            return False
        r+=2
        return True
print(is_prime(78),is_prime(79))

False True

In [25]:
def evenodd(x):
    if(x%2==0):
        print("even")
    else:
        print("odd")
evenodd(2)
evenodd(3)

even
odd

In [27]:
def myfunc(x,y=50):
    print("x:",x)
    print("y:",y)
myfunc(10)

x: 10
y: 50

In [28]:
def student(firstname,lastname):
    print(firstname,lastname)
student(firstname="Rashmi",lastname="Rawat")
student(lastname="Rawat",firstname="Shaurya")

Rashmi Rawat
Shaurya Rawat

In [29]:
def myfunc(*argv):
    for arg in argv:
        print(arg)
myfunc("Hello","Welcome","to","Geeksforgeeks")

Hello
Welcome
to
Geeksforgeeks

In [35]:
def evenodd(x):
    "Function to check whether x is even or odd"
    if(x%2==0):
        print("Even")
    else:
        print("Odd")
print(evenodd.__doc__)

Function to check whether x is even or odd

In [37]:
def square_value(num):
    "This function returns the square value of the entered number"
    return num**2
print(square_value.__doc__)
print(square_value(2))
print(square_value(4))

This function returns the square value of the entered number
4
16

In [39]:
def myFun(x):
    x[0]=20
lst=[10,11,12,13,14,15]
myFun(lst)
print(lst)

[20, 11, 12, 13, 14, 15]

In [44]:
string1='Welcome to the geek world'
print("String with the use of single quotes: ")
print(string1)
string2="I am a geek"
print("String with the use of double quotes: ")
print(string2)
string3='''Hello Geeks! '''
print("\n String with the use of triple quotes:\n ")
print(string3)
string4='''Geeks
           for
           geeks '''
print("\n String with the use of multiline string")
print(string4)

String with the use of single quotes:
Welcome to the geek world
String with the use of double quotes:
I am a geek

 String with the use of triple quotes:

Hello Geeks!

 String with the use of multiline string
Geeks
           for
           geeks

In [46]:
string1="Geeks for geeks"
print("Initial String:")
print(string1)
print("\n First character of string is:  ")
print(string1[0])
print("\n Last character of string is: ")
print(string1[-1])

Initial String:
Geeks for geeks

 First character of string is:
G

 Last character of string is:
s

In [47]:
#Program to reverse a string
gfg="geeksforgeeks"
print(gfg[::-1])

skeegrofskeeg

In [49]:
#String slicing
string1="Geeksforgeeks"
print("Initial String:")
print(string1)
print("\n Slicing characters for 3-12:  ")
print(string1[3:12])
print("\n Slicing characters between : " + " 3rd and 2nd last characters: ")
print(string1[3:-2])

Initial String:
Geeksforgeeks

 Slicing characters for 3-12:
ksforgeek

 Slicing characters between :  3rd and 2nd last characters:
ksforgee

In [51]:
print(chr(97))

a

In [52]:
var=["Geeks","for","geeks"]
print(var)

['Geeks', 'for', 'geeks']

In [53]:
list=[]
print("Blank list: ")
print("list")
list=[10,20,30]
print("\n list of numbers: ")
print(list)

Blank list:
list

 list of numbers:
[10, 20, 30]

In [54]:
list=["Geeks","for","geeks"]
print("Accessing a element: ")
print(list[0])
print(list[2])

Accessing a element:
Geeks
geeks

In [55]:
list1=[]
print(len(list1))
list2= [1,2,3]
print(len(list2))

0
3

In [58]:
list=[]
print("Initial blank list: ")
print(list)
list.append(1)
list.append(2)
list.append(4)
print("\n List after addition of three elements: ")
print(list)
for i in range(1,4):
    list.append(i)
print("\n list after addition of elements from 1-3: ")
print(list)
list.append((5,6))
print("\n list after addition of tuple: ")
print(list)
list2=['For','Geeks']
list.append(list2)
print("\n list after addition of list2: ")
print(list)

Initial blank list:
[]

 List after addition of three elements:
[1, 2, 4]

 list after addition of elements from 1-3:
[1, 2, 4, 1, 2, 3]

 list after addition of tuple:
[1, 2, 4, 1, 2, 3, (5, 6)]

 list after addition of list2:
[1, 2, 4, 1, 2, 3, (5, 6), ['For', 'Geeks']]

In [59]:
list=["Geeks","Geeks"]
list.insert(1,"For")
print(list)

['Geeks', 'For', 'Geeks']

In [61]:
list=['a','a','b','c','a','a','a','d','c','d']
print(list.count('b'))
print(list.count('a'))

1
5

In [63]:
number=[1,2,3,4,5,2,3,5]
number.pop(3)
print(number)
number.pop(-1)
print(number)
number.pop(0)
print(number)

[1, 2, 3, 5, 2, 3, 5]
[1, 2, 3, 5, 2, 3]
[2, 3, 5, 2, 3]

In [67]:
print("Maximum and minimum of 4,12,43.3, 19 and 100 is: ",end=" ")
print(max(4,12,43.3,19,100),"and",end=" ")
print(min(4,12,43.3,19,100))

Maximum and minimum of 4,12,43.3, 19 and 100 is:  100 and 4

In [68]:
var=("Geeks","for","geeks")
print(var)

('Geeks', 'for', 'geeks')

In [69]:
var={"Geeks","for","Geeks"}
print(type(var))

<class 'set'>

In [70]:
dict={1:"Geeks",2:"For",3:"Geeks"}
print(dict)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [71]:
dict2={1:"Geeks",2:"For",3:{'A':"Welcome",'B':'To','C':"Geeks"}}
print(dict2)

{1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

In [73]:
dict2[4]='Hello'
dict2

{1: 'Geeks',
 2: 'For',
 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'},
 4: 'Hello'}

In [75]:
list=[]
for character in "Geeks 4 geeks!":
    list.append(character)
print(list)

['G', 'e', 'e', 'k', 's', ' ', '4', ' ', 'g', 'e', 'e', 'k', 's', '!']

In [76]:
keys=['a','b','c','d','e']
values=[1,2,3,4,5]
mydict={k:v for (k,v) in zip(keys,values)}
print(mydict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}